<div class="body">
  <div class="chat-container">
    <div class="chat-window">
      <div class="message" *ngFor="let message of chatService.messages">
        <strong>{{ message.sender }}</strong>: {{ message.content }}
        <span class="timestamp">{{ message.timestamp | date: 'shortTime' }}</span>
      </div>
    </div>
    <div class="message-input">
      <input [(ngModel)]="messageContent" placeholder="Type a message" />
      <button (click)="sendMessage()">Send</button>
    </div>

    <button (click)="startStory()" *ngIf="!story">Start Story</button>
    <div *ngIf="!isStoryFinished">
      <p>{{ story }}</p>
      <button (click)="continueStory()" *ngIf="story">Continue Story</button>
    </div>
  </div>

  <!-- Add Play Audio Button -->
  <div *ngIf="isAudioReady">
    <button (click)="playAudio()">Play Audio</button>
  </div>

  <div class="image-container">
    <div class="image-changer">
      <div class="arrow-left"></div>
      <div class="arrow-right"></div>
    </div>
    <div class="scene-image">
      <ng-container>
        <ng-container *ngIf="image_url">
          <img [src]="image_url" alt="Generated DnD Scene Image" />
        </ng-container>
        <ng-container *ngIf="!image_url">
          <img [src]="'assets/dnd-background.png'" />
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
