body {
  margin: 0;
  background-color: black !important;
  color: #dddddd;
  font-family: 'Almendra', serif;
}

.title {
  font-family: 'Almendra', serif;
  font-weight: 700; /* Use bold style if selected */
  font-size: 2em;
  color: #333; /* Adjust color as needed */
}
